@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    display: flex;
    flex-direction: column;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: white;
    width: 100%;
    height: 5rem;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.logo {

    width: 6.8rem;
}


.icon_carrinho {
    font-size: 1.6rem;
    cursor: pointer;
}

.carrinho_contagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

.contagem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 0.7rem;
    cursor: pointer;

}

.titulos_subtitulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


}

.titulos_subtitulos .titulo {
    font-size: 5rem;
    font-family: "Poppins";
    color: white;
}

.titulos_subtitulos .subtitulo {
    font-size: 3rem;
    font-family: "Poppins";
    color: white;
}

.logo_sidebar {
    width: 8rem;
}









@media screen and (max-width: 812px) {
    .titulos_subtitulos .titulo {
        font-size: 4rem;

    }

    .titulos_subtitulos .subtitulo {
        font-size: 2rem;

    }

}

@media screen and (max-width: 505px) {
    .titulos_subtitulos .titulo {
        font-size: 3rem;

    }

    .titulos_subtitulos .subtitulo {
        font-size: 1.5rem;

    }

}



@media screen and (max-width: 375px) {
    .titulos_subtitulos .titulo {
        font-size: 2.2rem;

    }

    .titulos_subtitulos .subtitulo {
        font-size: 1rem;

    }

}

@media screen and (max-width: 251px) {
    .titulos_subtitulos .titulo {
        font-size: 1.8rem;

    }

    .titulos_subtitulos .subtitulo {
        font-size: 0.7rem;

    }

}